@import '../../styles/main.scss';

$height-line: 8px;
$width-line: 340px;

.board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  @include square($size-board + 20px);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: $size-square;
    left: 50%;
    transform: translateX(-50%);
    height: $height-line;
    width: $width-line;
    border-radius: 2px;
    background-color: $color-purple;
  }

  &::after {
    content: '';
    position: absolute;
    top: $size-square * 2 + 10px;
    left: 50%;
    transform: translateX(-50%);
    height: $height-line;
    width: $width-line;
    border-radius: 2px;
    background-color: $color-purple;
  }

  &__line {
    position: absolute;
    z-index: 200;
    border-radius: 2px;
    background-color: #f00;
    display: none;

    &--horizontal {
      left: 50%;
      height: 8px;
      width: $size-board - 20px;

      &--1 {
        top: $size-square / 2;
        transform: translate(-50%);
        display: block;
      }

      &--2 {
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }

      &--3 {
        bottom: $size-square / 2;
        transform: translate(-50%);
        display: block;
      }
    }

    &--vertical {
      top: 50%;
      height: $size-board - 20px;
      width: 8px;

      &--1 {
        left: $size-square / 2;
        transform: translate(-50%, - 50%);
        display: block;
      }

      &--2 {
        left: 50%;
        transform: translate(-50%, - 50%);
        display: block;
      }

      &--3 {
        right: $size-square / 2;
        transform: translate(-50%, - 50%);
        display: block;
      }
    }

    &--oblique {
      top: 0;
      height: $size-board + 20px;
      width: 8px;

      &--1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        display: block;
      }

      &--2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        display: block;
      }
    }
  }
}
