@import '../../styles/main.scss';

.board {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @include square($size-board + 20px);
  background-color: $secondary-color;
  cursor: pointer;

  &__svg {
    @include position-center();
    @include square(380px);
  }

  &__line {
    position: absolute;
    z-index: 200;
    border-radius: 2px;
    background-color: #f00;
    display: none;

    &--horizontal {
      left: 50%;
      height: 8px;
      width: $size-board - 20px;

      &--1 {
        top: $size-square / 2;
        transform: translate(-50%);
        display: block;
      }

      &--2 {
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }

      &--3 {
        bottom: $size-square / 2;
        transform: translate(-50%);
        display: block;
      }
    }

    &--vertical {
      top: 50%;
      height: $size-board - 20px;
      width: 8px;

      &--1 {
        left: $size-square / 2;
        transform: translate(-50%, - 50%);
        display: block;
      }

      &--2 {
        left: 50%;
        transform: translate(-50%, - 50%);
        display: block;
      }

      &--3 {
        right: $size-square / 2;
        transform: translate(-50%, - 50%);
        display: block;
      }
    }

    &--oblique {
      top: 0;
      height: $size-board + 20px;
      width: 8px;

      &--1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        display: block;
      }

      &--2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        display: block;
      }
    }
  }
}
