// colors
$color-white: #fff;
$color-black: #000;
$color-main: #2c3947;
$color-secondary: #31213b;
$color-purple: #9819ca;

//geometry
$size-board: 300px;
$size-square: 100px;
$lines-board: 3;

// transition
$transition-duration-default: 0.3s;
