@import '../../styles/main.scss';

$height-line: 340px;
$width-line: 8px;

.square {
  position: relative;
  // z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  @include square($size-board / $lines-board);
  padding: 0;
  border: none;
  background-color: $color-secondary;
  font-size: 80px;
  color: #eed;
  text-transform: uppercase;
  outline: none;
  user-select: none;

  &:hover {
    background-color: #543766;
    transition: $transition-duration-default;
  }

  &--center {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
      width: $width-line;
      height: $height-line;
      border-radius: 2px;
      background-color: $color-purple;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(100%, -50%);
      width: $width-line;
      height: $height-line;
      border-radius: 2px;
      background-color: $color-purple;
    }
  }
}
